<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/md5.js"></script>
    <script type="text/javascript" src="../lib/thenBy.js"></script>
    <!-- <script type="text/javascript" src="cryptopia.js"></script> -->
    <script type="text/javascript" src="util.js"></script>
    <script type="text/javascript" src="cryptopia.js"></script>
    <script type="text/javascript" src="binance.js"></script>
    <script type="text/javascript" src="cryptopare.js"></script>
    <!-- <script type="text/javascript" src="test2.js"></script> -->
</head>

<body>
    <div ng-app="app.cryptopare">
        <div ng-controller="CryptopareController">
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Pedido
                        </th>
                        <th>
                            Ofertado
                        </th>
                        <th>
                            Variação compra/venda
                        </th>
                        <th>
                            Ultima Transação
                        </th>
                        <th>
                            Count Ultimas transações
                        </th>
                        <th>
                            Variação tempo
                        </th>
                        <th>
                            crypt/yobit
                        </th>
                        <th>
                            yobit/crypto
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in markets">
                        <td>
                            {{m.nome}}
                        </td>
                        <td>
                            {{m.pedido}}
                        </td>
                        <td>
                            {{m.ofertado}}
                        </td>
                        <td>
                            {{m.variacaoCV.toFixed(2) + ' %'}}
                        </td>
                        <td>
                            {{m.transacaoMaisRecente}}
                        </td>
                        <td>
                            {{m.countUltimasTransacoes}}
                        </td>
                        <td>
                            {{m.variacao.toFixed(2) + ' %'}}
                        </td>
                        <td>
                            {{m.cryptopiaParaYobit.toFixed(2) + ' %'}}
                        </td>
                        <td>
                            {{m.yobitParaCriptopia.toFixed(2) + ' %'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <input ng-click="ordenarVariacao()" type="button" value="Ordenar por variação">
            <input ng-click="ordenarQuantidadeTransac()" type="button" value="Ordenar por Quantidade de transações">
            <input ng-click="ordenarCryptoYobit()" type="button" value="Ordenar crypto/yobit">
            <input ng-click="ordenarYobitCrypto()" type="button" value="Ordenar yobit/crypto">
        </div>
    </div>

</body>

</html>